<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <title>Signup</title>
    <style>
      body{
      }
      p{
        font-family: cursive;
        font-weight: 800;
        font-size:25px;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 2px solid black;
        padding: 17px;
        padding-top: 20px;
        width: 370px;
        border-radius: 10px;
        margin-top: 140px;
        margin-left: 44vw;
      }
      input{
        border-radius: 5px;
        width: 100%;
      }
      .fullName,.email,.password{
        font-family:cursive;
        font-weight: 800;
        margin-bottom: 11px;
      }
      .btn{
        height: 40px;
        width: 100%;
        color: white;
        background-color: rgb(34, 34, 34);
      }
      .btn:hover {
        background-color: rgba(34, 34, 34, 0.811);  
        color:white;
        cursor: pointer; 
      }
    </style>
</head>

<body>
  <%- include('./partials/nav') %>
    <div class="container">
      <p >Signup</p>
      <form action="/user/signup" method="post">
        <div class="fullName">
          <label for="fullName">Full Name</label>
        </div>
          <input type="text" id="fullName" name="fullName" aria-describedby="fullName" style="margin-bottom: 25px;" />
        
        <div class="email">
          <label for="exampleInputEmail1">Email address</label>
        </div>
        <input type="email" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" />
        <div id="emailHelp" style="margin-bottom: 25px;text-decoration: underline; ">
          We'll never share your email with anyone else.
        </div>

        <div class="password">
          <label for="exampleInputPassword1">Password</label>
        </div>
        <input name="password" type="password" id="exampleInputPassword1" style="margin-bottom: 25px;" />
        
        <div>
          <button type="submit" class="btn">Submit</button>
        </div>

      </form>
    </div>

    <%- include('./partials/scripts') %>
</body>

</html>